node_modules
!.gitkeep
package-lock.json
yarn.lock

.DS_Store
.AppleDouble

_asserts/**/*.*
coverage/

npm-debug.log
*.txt
tmp.*

.eslintrc.json

wpkConfig/
.babelrc
postcss.config.js
webpack.config.babel.js

communal/tests/
jest.config.json
